In [2]:
import pandas as pd
import numpy as np

data = np.array([
    [117, 134, 130, 143, 127, 125, 98, 110, 124, 122, 126, 101],
    [106, 121, 123, 104, 124, 117, 109, 128, 134, 146, 112, 139],
    [153, 154, 130, 123, 120, 133, 110, 143, 145, 148, 110, 115],
    [114, 104, 126, 90, 140, 105, 117, 134, 128, 147, 137, 109],
    [122, 130, 95, 104, 113, 150, 120, 94, 160, 138, 129, 119]
])

df = pd.DataFrame(data)
print(df)

    0    1    2    3    4    5    6    7    8    9    10   11
0  117  134  130  143  127  125   98  110  124  122  126  101
1  106  121  123  104  124  117  109  128  134  146  112  139
2  153  154  130  123  120  133  110  143  145  148  110  115
3  114  104  126   90  140  105  117  134  128  147  137  109
4  122  130   95  104  113  150  120   94  160  138  129  119

In [5]:
etendue = np.max(df) - np.min(df)
print(etendue)

70

In [7]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,122.400000,128.600000,120.800000,112.800000,124.800000,126.000000,110.800000,121.800000,138.200000,140.200000,122.800000,116.600000
std,18.063776,18.297541,14.720734,20.559669,9.984989,16.941074,8.526429,19.677398,14.532722,10.917875,11.519549,14.240786
min,106.000000,104.000000,95.000000,90.000000,113.000000,105.000000,98.000000,94.000000,124.000000,122.000000,110.000000,101.000000
25%,114.000000,121.000000,123.000000,104.000000,120.000000,117.000000,109.000000,110.000000,128.000000,138.000000,112.000000,109.000000
50%,117.000000,130.000000,126.000000,104.000000,124.000000,125.000000,110.000000,128.000000,134.000000,146.000000,126.000000,115.000000
75%,122.000000,134.000000,130.000000,123.000000,127.000000,133.000000,117.000000,134.000000,145.000000,147.000000,129.000000,119.000000
max,153.000000,154.000000,130.000000,143.000000,140.000000,150.000000,120.000000,143.000000,160.000000,148.000000,137.000000,139.000000

In [8]:
df.mean()

0     122.4
1     128.6
2     120.8
3     112.8
4     124.8
5     126.0
6     110.8
7     121.8
8     138.2
9     140.2
10    122.8
11    116.6
dtype: float64

In [9]:
variance = df.var()
print(variance)

0     326.3
1     334.8
2     216.7
3     422.7
4      99.7
5     287.0
6      72.7
7     387.2
8     211.2
9     119.2
10    132.7
11    202.8
dtype: float64

In [10]:
print(df.quantile([0.25, 0.5, 0.75]))

         0      1      2      3      4      5      6      7      8      9   \
0.25  114.0  121.0  123.0  104.0  120.0  117.0  109.0  110.0  128.0  138.0
0.50  117.0  130.0  126.0  104.0  124.0  125.0  110.0  128.0  134.0  146.0
0.75  122.0  134.0  130.0  123.0  127.0  133.0  117.0  134.0  145.0  147.0

         10     11
0.25  112.0  109.0
0.50  126.0  115.0
0.75  129.0  119.0

In [27]:
Q2 =np.percentile(df,25)
Q2 =np.percentile(df,50)
Q3 =np.percentile(df,75)
print(Q3)
print(Q1)

134.0
111.5

In [28]:
inter = Q3-Q1
print(inter)

22.5